.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    gap: 3rem;
}

.hero-text {
    margin-top: -8rem;
}

.h-text>h2 {
    font-size: 2.5rem;
}

.h-text>h1 {
    font-size: 4.5rem;
}

.par {
    margin-top: 0.2rem;
    width: 33rem;
    font-size: 1.3rem;
}

.par-2 {
    width: 33rem;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.par>p,
.par-2>p {
    font-weight: lighter;
}

.cont-img {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background: #8ba0ece7;
    border: 2px solid #7a97fe;
    box-shadow: 0rem 0rem 1rem 0.5rem #7a97fe;
}

.cont-img>img {
    width: 26rem;
    height: 37rem;
    margin-top: 1rem;
    object-fit: cover;
    margin-top: -5rem;
    margin-left: 3rem;
}

.hero-btn {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-1>button {
    width: 11rem;
    height: 2.5rem;
    font-size: 1.2rem;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 0.7rem;
    border: none;
    box-shadow: 5px 5px 1px 1px #00000028;
}

.btn-2>button {
    width: 11rem;
    height: 2.5rem;
    font-size: 1.2rem;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 0.7rem;
    border: none;
    box-shadow: 5px 5px 1px 1px #00000028;
}