.main-proj {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.proj-bg {
    background-image: url('/assets/images/asd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 25rem;
    border-radius: 1rem;
}

.proj-intro {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.proj-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.proj-img > img {
    width: 32rem;
    height: 22rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.proj-img2 > img {
    width: 32rem;
    height: 22rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.proj-text > h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: white;
}

.proj-text > p {
    font-size: 1.5rem;
    color: white;
}

.proj-text2 > h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: white;
    text-align: right;
}

.proj-text2 > p {
    font-size: 1.5rem;
    color: white;
    text-align: right;
}

.hero-btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-11>button {
    width: 11rem;
    height: 2.5rem;
    font-size: 1.2rem;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 0.7rem;
    border: none;
    box-shadow: 5px 5px 1px 1px #000000af;
}


.btn-12>button {
    width: 11rem;
    height: 2.5rem;
    font-size: 1.2rem;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 0.7rem;
    border: none;
    box-shadow: 5px 5px 1px 1px #000000af;
}


